{% extends 'ert/base.html' %}
{% block content %}

<!--

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>


 
	<div class="container">
		<div class="row">
			<form method="get" action="{% url 'home' %}">
			<input type="text" name="t" class="form-control" placeholder="search here">
			<select name="s">
			<option value=""></option>
			<option value="name">name</option>
			<option value="date">date</option>
			</select>
			<input type="submit">
			</form>
		</div>
	</div>
	
	-->
		<h1>home</h1>

	
	<div class "row">
	{% for t in objectlist %}
	<div class="col-lg-4">
		<div class="card" style="width:18rem;">
			<div class="card-body">
				<h5 class="card-title">{{t.name}}</h5>
				<p>{{ t.hospitalname }}</p>
				<p>{{ t.ph }}</p>
				<a href="{% url 'detail' t.id %}" class="btn btn-primary">View more</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<p>
	</br>
</p>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h3>Add new Post</h3>
			<a href="{% url 'add' %}" class="btn btn-success">add new</a>
			</div>
		</div>
	</div>
{% endblock %}
